.add-catagory{
    margin-top: 5vh;
    width: 86%;
    float: right;
    text-align: center;
}


.add-catagory .row {
    width: 50%;
    background-color: lightgray;
    margin: auto;
    border-radius: 20px;
}

.catagory-heading {
    height: 8vh;
    text-align: center;
    background-color: #777;
    padding: 1vh;
}

.catagory-heading h2 {
    color: white;
}

.fields {
    margin-top: 2vh;
}

.fields span {
    margin: 0 15px 0 15px;
}

.add-catagory-form .btn {
    margin: 2vh;
}

.fields input,
.fields select {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
}

.add-catagory-form {
    margin-top: 5vh;
}