.register-page {
    width: 100%;
    height: 60vh;
    margin: 2vh 2vw;
}

.my-register-form{
    background-color: lightgray;
    text-align:center;
}

.register-page h1{
    padding: 3vh;
}

.register-page form input {
    margin: 1vh 1vw;
    padding: 2vh 2vw; 
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #567;
    background:transparent;
    transition: .5s;
}

.register-page form input:focus {
    border-radius: 30px;
    transition: .5s;
    background: #fff;;
}

#submit-register-btn {
    
    color:white;
    font-weight: bold;
    border-radius: 5px;
    transition: .6s;
    cursor: pointer;
    background: #900;
}

#submit-register-btn:hover {
    transform: scale(1.1);
    transition: .5s;
}





























@media only screen and (max-width:991px) {
    .register-page {
        height: 85vh;
        margin: 5vh 0;
    }
}

@media only screen and (max-width:768px) {
    .register-page {
        height: 85vh;
        margin: 25vh 0 5vh 0;
    }
}

@media only screen and (max-width:576px) {
    .register-page {
        height: 85vh;
        margin: 20vh 0 5vh 0;
    }
}

@media only screen and (max-width:360px) {
    .register-page {
        height: 85vh;
        margin: 5vh 0;
    }
}